.root {
    padding: 100px;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    
    span {
      font-size: 40px;
      padding-bottom: 1em;
    }
  }
  
  .description {
    margin-top: 2em;
    font-size: 22px;
  }